<% layout('/layouts/boilerplate') %>

    <div class="card mb-3">
        <img src="<%=campground.image%>" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">
                <%= campground.title %>
            </h5>

            <p class="card-text text-muted">
                <%= campground.location %>
            </p>

            <p class="card-text">
                <%= campground.description %>
            </p>
            <a href="/campgrounds" class="btn btn-primary">All Campground</a>
            <a href="/campgrounds/<%= campID %>/edit" class="btn btn-warning">Edit Campground</a>

            <form action="/campgrounds/<%=campID%>?_method=DELETE" method='POST'>
                <button class="btn btn-danger">
                    DELETE
                </button>
            </form>
        </div>

        <form action="/campgrounds/<%=campID%>/reviews" method="POST" class='validation-form card-body mb-3' novalidate>
            <h2>leave a review</h2>
            <label class="form-label" for="rating">Rating</label>
            <input class="form-range" id="rating" type="range" min="0" max="5" name="review[rating]">
            <div>
                <label class="form-label" for="description">Review</label>
                <textarea class="form-control" id="description" type="text" name="review[body]" cols="30" rows="3"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>