<% layout('/layouts/boilerplate') %>

    <h1>
        <%= campground.title %>
    </h1>
    <h2>
        <%= campground.location %>
    </h2>
    <h3>
        the ID is: <%= campID %>
    </h3>
    <img src="<%=campground.image%>" alt="">
    <p>
        <%= campground.description %>
    </p>
    <footer>
        <a href="/campgrounds">All Campground</a>
        <a href="/campgrounds/<%= campID %>/edit">Edit Campground</a>
    </footer>

    <p>
    <form action="/campgrounds/<%=campID%>?_method=DELETE" method='POST'>
        <button>
            DELETE
        </button>
    </form>
    </p>